@import url('https://fonts.googleapis.com/css?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
  }
  
  h1 {
    font-family: 'Newsreader';
    color: white;
  }

  a {
    color: white;
  }